*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

input,label{
    display: block;
}

label{
    color: green;
}

input{
    width: 100%;
}

.submit{
    margin: 15px auto;
    width: 20%;
    background-color: rgb(181, 154, 206);
    border-radius: 5px;
}

form{
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: solid 2px black;
    padding: 15px;
    border-radius: 10px;
}